#browser-js-error-badge-count {
  padding-left: 4px;
  padding-right: 4px;
  color: #ffffff;
  background: #111827;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2147483647;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#browser-js-error-badge-count > img {
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 2px;
}

.browser-js-error-badge-count-disabled {
  display: none !important;
}
